@charset "UTF-8";

*{
    font-family: 'Times New Roman', Times, serif;

}


p {
    text-align: justify;

}

body {
    background-image: linear-gradient(to right, #042326, #0A3A40, #0F5959, #1D7373, #107361);

}

main {
    background-color: white;
    box-shadow: 5px 5px 15px black;
    margin: auto;
    width: 800px;
    padding: 10px;
    border-radius: 10px;
}


h1{
    color: #042326;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2 {
    color: #1D7373;
}