@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}


html, body{
    min-height: 100%;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;

    h1{
        font-size: 3.5em;
        font-family: "Bebas Neue", sans-serif;
        padding-top: 50px;
        text-transform: uppercase;
    }


    p{
        padding-bottom: 50px;
        padding-top: 10px;
    }

}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    font-size: 1.5em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}


.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: rgba(0, 0, 0, 0.354);
    color: white;

    p{
        padding: 5px;
        width: 400px;
        background-color: black;
    }
}



footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 7px;
}